body {
    background-color: rgb(241, 168, 112);
    
}
h1 {
    background-image: linear-gradient(to right, pink, red, pink);
    color: gold;
    border: 2px solid yellow;
    border-radius: 10px;
    border-style: groove;
    font-weight: bold;
}
img {
    width: 500px;
    height: 500px;
    border: 3px solid red;
    border-style: groove;
}
.container {
    background-image: linear-gradient(to right, red, gold, red);
    font-weight: bold;
    font-family: algerian;
}

button {
    background-color: gold;
    color: brown;
    border: 2px solid red;
    border-style: groove;
    width: 300px;
    height: 100px;
    font-weight: bold;
    font-size: 30px;
}